<nav>
  <div class="site-title">
    <a href="/"><h1>Teko</h1></a>
  </div>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/func/func">Registrar funcionário</a></li>
    <li><a href="/func/login">Login como funcionário</a></li>
    <li><a href="/comandas/abrir">Abrir Comanda</a></li>
  </ul>
</nav>