<html lang="pt-BR">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Login para Profissionais</h2>

  <div class="login">
    <form action="/loginpessoasti" method="POST">
        <label for="email">E-mail<br></label>
        <input type="email" id="email" name="email">
    </form>
    <br>
    <label for="senha">Senha<br></label>
    <input type="password" id="senha" name="senha">
    <br>
    <br>
    <br>
    <a href="/" class="btn btn-primary">Enviar</a>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>